<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron alert alert-dismissible fade in inner-jumbotron shadow " id="no-border-round" role="alert">
    <h1>About Us</h1>
    <div class="staticpages">
        <p>EvezOwn is a woman-cetric products and services platform. You can showcase, brand, position and sell your product or service. Categories and topics chosen are specific to interests and needs of women.</p>

        <p>Women in general are at the core of economic activity. It is embedded in their daily routine. They are buying, selling, recommending, searching and discovering various products and services to meet their needs and needs of their family and friends. EvezOwn provides the platform for entrepreneurs and consumers to pursue this activity more efficiently and effectively.</p>

        <p>You can replicate your offline world here - build your circle of friends, share your finds and recommendations, showcase your talent, promote your products or services, and participate in discussions and forums. Being a closed community platform, it provides safe environs for open and useful interactions.</p>

        <p>WebInsights Private Limited is the promoter of EvezOwn.</p>
    </div> 
</div>