<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron alert alert-dismissible fade in inner-jumbotron shadow " id="no-border-round" role="alert">
    <h1>About Us</h1>
    <div class="staticpages">
        <p>EvezOwn is woman to woman business community platform. It is by invite only and is exclusive to women. You can showcase, brand, position and sell your product or service. Categories and topics chosen are specific to your interests and needs. Only women can create a store on EvezPlace. Access to the store and buying products or services is open to all.</p>

        <p>Women in general are at the core of economic activity. It is embedded in their daily routine. They are buying, selling, recommending, searching and discovering various products and services to meet their needs and needs of their family and friends. EvezOwn is the platform online to pursue this activity more efficiently and effectively.</p>

        <p>You can replicate your offline world here - build your circle of friends, share your finds and recommendations, showcase your talent, promote your products or services, and participate in discussions and forums. Being a closed community platform, it provides safe environs for open and useful interactions.</p>

        <p>WebInsights Private Limited is the promoter of EvezOwn.</p>
    </div> 
</div>