<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron alert alert-dismissible fade in inner-jumbotron shadow " id="no-border-round" role="alert">

    <h1>Contact Us</h1>
    <div class="staticpages">
        <p>For Woice related query or feedback, write to <a>editor@evezown.com</a></p>
        <p>For EvezPlace related query or feedback, write to <a>evezplace@evezown.com</a></p>
        <p>For W’Opportunity related query or feedback, write to <a>Wopportunity@evezown.com</a></p>
        <p>For careers related query, write to <a>careers@evezown.com</a></p>
        <p>For other queries and feedback, write to <a>support@evezown.com</a></p>
    </div>
</div>