<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron alert alert-dismissible fade in inner-jumbotron shadow " id="no-border-round" role="alert">
    <h1>Evezown FAQ</h1>
    <div class="staticpages">
        
        <h4>1.What is EvezOwn?</h4>
        <p>Evezown is a unique commerce and community platform for women focused products and/or services. If you are an entrepreneur, service professional or an organisation, Evezown offers a unique web presence combined with interaction and transaction features and a host of digital promotional activities.</p>
       
        
        <h4>2.Which are the 5 categories?</h4>
        <p>EvezOwn categories and topics are specific to women’s interests and needs. The platform enables differentiation of categories as a) Products, b) Services and c) Products + Services. Under each of these there are 5 five main categories. These are:</p>
        <ul>
        	<li>Health Wellness & Fitness</li>
			<li>Food & Nutrition</li>
			<li>Beauty & Fashion</li>
			<li>Education, Care & Parenting</li>
			<li>Lifestyle</li>
        </ul>

        <p>Under each of the above category there are several, relevant sub categories to choose from. If a user is not able to find a suitable, pertinent sub category, they can request EvezOwn to add the category by writing to support@evezown.com</p>

        <h4>3.What are the sections on EvezOwn</h4>
        <p>EvezOwn platform is built on the following three sections:</p>
        <p>&#10004;<a href="#streamit">Evezown</a> - For every member this section gives you  host of features on sign in. You can create   your individual website, Mysite to capture the essence of your business and personality. It provides you the feature of creating your profile in-depth. You can create and <a href="#community">Build community</a> to connect with you friends or colleagues, or customers or just about any woman you wish to connect with on this platform. It gives you features to engage with your community  dynamically through <a href="#streamit">Stream it</a>. You can share and  promote your ideas, business or ventures digitally both within Evezown and externally on social media using features such as regular posts, events, blogs, forums and groups.</p>
        <p>&#10004;<a href="#evezplace">MarketPlace</a> – It is the Ecommerce marketplace for showcasing women centric products and services on the five key categories. Any woman entrepreneur or a service professional, who is running a business or intends to start one, can create their store, Ads & Campaigns for showcasing, branding, propagating and selling their products or services.</p>
        <p>&#10004;<a href="#wopportunity">Jobs</a> – This is the opportunities and career section. A resourcing platform, businesswomen can use it for hiring talent and working professionals can use it to find an opportunity of their choice.</p>

        <h4>4.Target segment for EvezOwn</h4>
        <p>&#10004; Businesses that are focused on women centric products and services - be it small, niche, mid-size or large. In fact it caters to all entities who consider women as their main customer segment.</p>
        <p>&#10004; Women career professionals who would like to interact and network with for the purpose of managing and advancing their career – be it for hiring or looking for jobs or to be an entrepreneur in the future</p>
        <p>&#10004; Women who are avid consumers, who actively search for new products and services and/or network with other women who have precious inputs to provide by way references and recommendations.</p>
        



        <h4>5.EvezOwn’s aim & objective</h4>
        <p>Women in general are at the core of economic activity. It is embedded in their daily routine. They are buying, selling, recommending, searching and discovering various products and services to meet their needs and needs of their family and friends. EvezOwn provides the platform for entrepreneurs and consumers to pursue this activity more efficiently and effectively.  It allows them to present their identity, professional or personal, build their community and promote through a host of features such as blogs, forums, Ads & Campaigns, events, postings and recommendations.</p>
        <p>The website’s ‘invite only’ feature provides the assurance of being a close knit community whose interactions are not easily accessed or tracked. This facilitates more open and deeper interactions among women.</p>
        <p>The accent in EvezOwn is on categories and stores most of which are personalized, niche, reference oriented, high involvement, concept oriented and high quality products and services that are not so easily available or known widely. Women who have experienced such products and services are sharing and recommending it to other women on EvezOwn.</p>
    </div> 
</div>