<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron alert alert-dismissible fade in inner-jumbotron shadow " id="no-border-round" role="alert">
    <h1>WOICE FAQs</h1>
    <div class="staticpages">
        <h4>1.What is WOICE?</h4>

        <p>It is the community building and promotion platform. Women can create their profile in-depth; connect with friends, colleagues, customers, partners, employees or other women they wish to connect with. They can promote their business digitally within their private circles or publicly using WOICE features such as events, blogs, recco, forums and groups.
Though there is a lot of information available on the net on various topics and categories, authenticated and/or recommended content which is trustworthy and useful is still hard to find. WOICE essentially encourages women to share experiences, good or bad, share their finds and discoveries, spread the word around in close knit personal circles. Word of mouth has always been very powerful in building opinions, WOICE helps automate it.</p>

        <h4>2.Features of WOICE</h4>

        <p>WOICE provides following features:</p>



        <p>&#10004;<b>Profile Creation</b> – Every registered member of EvezOwn gets a profile page that allows them to create their profile in-depth. Profile page can also be used as a single window that depicts all the activities of the member – be it in EvezPlace, Woice or W’Opportunity</p>

        <p>&#10004;<b>Build Community</b> - provides the features for a member to connect with other women and build their individual networks. Women can make use of features such as circles, blogs, forums, events, albums to propagate their products or services to their digital community more efficiently and effectively.</p>

        <p>&#10004;<b>Woice It</b> – it provides women the platform to share information, knowledge, experience and expertise. Apart from choosing the categories and sub categories, Woice It posts are segregated as Just Sharing, Spread the word, My Find and Be Careful. This helps in classifying the post according to the type of information shared.</p>

        <p>&#10004;<b>Recco It</b> – provides the feature of recommending or endorsing a product or a service or both. It helps to create awareness and draw attention.  It is in effect a good tool for word of mouth… spreading the word online</p>
    </div> 
</div>