<ul ng-if="pagesrc == 'marketplace'" class="breadcrumb create-store-breadcrumb" style="background: transparent">
    <li><a href="#home">Home</a> <span class="divider"></span></li>
    <li><a href="#evezplace">Marketplace</a></li>
    <li><a href="#store/browse">Stores</a></li>
    <li>Manage Store</li>
</ul>

<ul ng-if="pagesrc == 'profile'" class="breadcrumb create-store-breadcrumb" style="background: transparent">
    <li><a href="#home">Home</a> <span class="divider"></span></li>
    <li><a href="#mystores/{{loggedInUserId}}">Mystores</a></li>
    <li>Manage Store</li>
</ul>

<div ng-include src='"partials/evezplace/manage/store/manage_store_left_menu.html"'></div>

<!--Description starts-->
<div class="col-sm-9 jumbotron alert alert-dismissible inner-jumbotron shadow"  id="no-border-round" role="alert" style="padding:0px 28px 10px 16px;font-size:12px;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h1>Store Info</h1>

    <p style="text-align:justify;font-size:16px;">Welcome to the manage store section. You can edit the information you have provided, anytime. You can add, delete products and services. Remember to save any changes you make in this section.
    </p>
</div>
<!--Description Ends-->

<!--psyment offer-->
<div class="col-sm-9 no-padding">

    <div class="col-sm-12"  ng-show="storeStatus == 8">
        <div class="row">
            <div class="create-store-section">
                <div style="border: 1px solid #E50880; border-radius: 5px;">
                    <div class="row">
                        <h4 class="text-center" style="color:#E50880">Subscription offer info</h4><br>
                        <div class="col-md-12 col-xs-12">
                            <p style="padding:0px 12px 0px 12px;">Your store subscription request is under processing, you will receive an mail from Evezown admin regarding the store subscription offer.</p>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12"  ng-show="Subscription_offer.length > 0 && storeStatus == 6 && Subscription_type == 1">
        <div class="row">
            <div class="create-store-section">

                <div class="col-md-12" style="border: 1px solid #E50880; border-radius: 5px;margin-bottom:20px;">
                    <h3 class="text-center">Pay & Activate Store</h3><br>
                    <div class="col-md-6" ng-repeat="Subscription in Subscription_offer">
                        
                        <div class="col-md-12 col-xs-12 no-padding">
                            <div class="col-md-12 col-xs-12 no-padding">
                                <div class="col-md-6 col-xs-6">
                                    <p>Subscription Type<br><br></p>
                                </div>
                                <div class="col-md-6 col-xs-6" ng-show="Subscription.subscription_id == 1">
                                    : Free Trail
                                </div>
                                <div class="col-md-6 col-xs-6" ng-show="Subscription.subscription_id == 2">
                                    : Premium
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12 no-padding">
                                <div class="col-md-6 col-xs-6">
                                    <p>Amount Payable<br><br></p>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    : &#x20b9;{{Subscription.amount}}
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <button class="btn btn-primary btn-block" type="button" ng-click="SubscriptionPay(Subscription.subscription_id,Subscription.amount)">Pay Now</button><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12"  ng-show="Subscription_offer.length > 0 && storeStatus == 6 && Subscription_type != 1">
        <div class="row">
            <div class="create-store-section">

                <div style="border: 1px solid #E50880; border-radius: 5px;margin-bottom:20px;">
                    <div class="row" ng-repeat="Subscription in Subscription_offer" ng-show="Subscription.subscription_id == Subscription_type">
                        <h3 class="text-center">Pay & Activate Store</h3><br>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-6 col-xs-12 col-md-offset-4">
                                <div class="col-md-6 col-xs-6">
                                    <p>Subscription Type<br><br></p>
                                </div>
                                <div class="col-md-6 col-xs-6" ng-show="Subscription.subscription_id == 2">
                                    : Premium
                                </div>
                                <div class="col-md-6 col-xs-6" ng-show="Subscription.subscription_id == 3">
                                    : Customized
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 col-md-offset-4">
                                <div class="col-md-6 col-xs-6">
                                    <p>Amount Payable<br><br></p>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    : &#x20b9;{{Subscription.amount}}
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <button class="btn btn-primary btn-block" type="button" ng-click="SubscriptionPay(Subscription.subscription_id,Subscription.amount)">Pay Now</button><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Payment Division-->
    <div class="col-sm-12" ng-show="ShowPayment">
        <div class="row">
            <!-- <div style="background-color:red"> -->
                <!-- <div style="border: 1px solid #E50880; border-radius: 5px;margin-bottom:20px;"> -->
                    <div class="col-md-12 no-padding">
                       <div class="col-md-12 col-xs-12 no-padding" style="margin-bottom: 10px;background-color: #FFFCF4;border:2px solid #CFCFCE;" ng-include='"partials/payment/onlyOnline.html"'>
                       </div>
                    </div>
                <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>


    <div class="col-sm-12">
        <div class="row">
            <div class="create-store-section">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h4 style="color: #e51385">Basic Info</h4>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-5">
                            <label for="title">Store Title</label>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="title" name="name" ng-model="formData.title">
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-5">
                            <label for="storeAboutUs">Store Description *</label>
                        </div>
                        <div class="col-sm-5">
                            <textarea rows="4" placeholder="Store Description" class="form-control" id="storeAboutUs" name="storeAboutUs"
                                      ng-model="formData.storeDescription"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px; margin-bottom: 10px" ng-repeat="owner in owners">
                    <div class="form-group" ng-if="$index == 0">
                        <div class="col-sm-offset-1 col-sm-5">
                            <label for="owner1">Owner's Info</label>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="owner1" name="name"
                                   placeholder="{{ 'Owner ' + ($index + 1)}}" ng-model="owner.title">
                        </div>
                    </div>
                    <div class="form-group" ng-if="$index != 0">
                        <div class="col-sm-5 col-sm-offset-6">
                            <input type="text" class="form-control" id="owner{{($index + 1)}}" name="name"
                                   placeholder="{{ 'Owner ' + ($index + 1) }}" ng-model="owner.title">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <a href="" class="btn btn-link pull-right" style="padding: 0px; color: #e51385"
                           ng-click="addMoreOwner()">add more owners</a>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-5">
                            <label for="address">Registered Address</label>
                        </div>
                        <div class="col-sm-5">
                            <textarea cols="3" class="form-control" id="address" name="address"
                                      ng-model="formData.address"/>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-5">
                            <label for="isPhysicalStore">Do you own a physical office, store, shop?</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="checkbox" style="width: 16px; height: 16px" id="isPhysicalStore"
                                   name="isPhysicalStore" ng-model="formData.isPhysicalStore">
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px" ng-show="formData.isPhysicalStore">
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-5">
                            <label for="licenseInfo">Licence info, in case of physical store</label>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" id="licenseInfo" class="form-control" name="licenseInfo"
                                   ng-model="formData.licenseInfo">
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px" ng-show="formData.isPhysicalStore">
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-5">
                            <label for="storeAddress">Store Address</label>
                        </div>
                        <div class="col-sm-5">
                            <textarea cols="3" class="form-control" id="storeAddress" name="storeAddress"
                                      ng-model="formData.storeAddress"/>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px" ng-show="formData.isPhysicalStore">
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-5">
                            <label for="cityStateCountry">City, State, Country</label>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" id="cityStateCountry" class="form-control" name="cityStateCountry" placeholder="location"  g-places-autocomplete ng-model="formData.cityStateCountry" />
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px" ng-show="formData.isPhysicalStore">
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-5">
                            <label for="pincode">Pincode</label>
                        </div>
                        <div class="col-sm-5">
                            <input type="number" placeholder="Please enter 6 digits Pincode" id="pincode" class="form-control" name="pincode" ng-model="formData.pincode">
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 40px">
                    <div class="col-sm-2 col-sm-offset-9">
                        <a href ng-click="EditStoreStep1(formData,owners)" class="btn btn-primary btn-block">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>