<!-- Static navbar -->
<nav class="navbar navbar-default" id="navContainer">
    <div id="navbar1">
        <ul class="nav navbar-nav">
            <li>
                <a href="#mystores/{{userId}}" ng-class="{ active: isActive('/profile')}">Mysite</a>
            </li>
            <li>
                <a href="#profile/{{userId}}/personalinfo" class="{{isActive[1]}}">Create / Edit Profile</a>
            </li>
            <li ng-class="{ active: isActive('/explore')}">
                <!-- Template which needs to be shown on click -->
                <script type="text/ng-template" id="explore">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        <ul>
                            <li style="padding: 5px; text-align: center"><a  href="#evezplace">MarketPlace</a></li>
                            <li style="padding: 5px; text-align: center"><a  href="#wopportunity">Jobs</a></li>
                        </ul>
                    </div>
                </script>

                <a ns-popover
                   ns-popover-template="explore"
                   ns-popover-trigger="click"
                   ns-popover-theme="ns-popover-list-theme">
                    Explore
                </a>
            </li>
            <li ng-class="{ active: isActive('/search/advanced')}"><a href="#search/advanced" id="search">Search&nbsp;
            <span class="fa fa-search" id="searchIcon"></span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="col-md-12">
    <div class="row user-menu-container square">

        <div ng-include='"partials/profile/details/depthProfileCount.html"'></div>

        <div class="col-md-12" id="view" style="margin-top: 10px;">
            <ul class="breadcrumb" style="background: transparent; padding-left: 0px" >
                <li><a href="#home">Home</a> <span class="divider"></span></li>
                <li><a href="#profile/myprofile/{{userId}}">Profile</a></li>
                <li class="active">Details</li>
            </ul>
        </div>
        <div class="col-md-2 user-menu-btns">
            <div class="btn-group-vertical square" id="responsive">
                <a id="step1"  data-toggle="tab" data-slide-to="0" href="#profile/{{userId}}/personalinfo" class="btn btn-block btn-default ">
                    <p>Personal Info Basic</p>
                </a>
                <a id="step2"  data-toggle="tab" data-slide-to="1" href="#profile/{{userId}}/enhance" class="btn btn-block btn-default">
                    <p>Enhance Profile Page</p>
                </a>
                <a href="#profile/{{userId}}/change_password" class="btn btn-default" ng-show="checkforPasswordField">
                    <p>Change Password</p>
                </a>
                <a id="step3"  data-toggle="tab" data-slide-to="2" href="#profile/{{userId}}/myonline" class="btn btn-default">
                    <p>My Online Presence </p>
                </a>
                <a id="step4"  data-toggle="tab" data-slide-to="3" href="#profile/favorites" class="btn btn-default">
                    <p>Favorites-Topics /</br>Areas of Interest </p>
                </a>
                <a id="step5"  data-toggle="tab" data-slide-to="4" href="#profile/{{userId}}/reference" class="btn btn-default">
                    <p>My Reference info </p>
                </a>
                <a id="step6"  data-toggle="tab" data-slide-to="5" href="#profile/{{userId}}/participation" class="btn btn-default active">
                    <p>My Participation in </br>MarketPlace </p>
                </a>
                <a id="step7"  data-toggle="tab" data-slide-to="6" href="#profile/{{userId}}/other" class="btn btn-default">
                    <p>Other EvezOwn services </p>
                </a>
                <a id="step8"  data-toggle="tab" data-slide-to="7" href="#profile/partnering" class="btn btn-default">
                    <p>Partnering with EvezOwn </p>
                </a>
                <a id="step9"  data-toggle="tab" data-slide-to="8" href="#profile/feedback" class="btn btn-default">
                    <p>Feedback/suggestions </p>
                </a>
            </div>
        </div>

        <div class="col-md-10 user-menu user-pad">
                <div class="col-md-12 panel-heading" style="padding-left: 0px;padding-right: 0px;">
			
			    </div>
            <div class="signup-section">
                <form>
                    <div class="col-xs-12 checkbox checkbox-primary">
                        <input type="checkbox" name="store" id="store" value="1" ng-model="participationProfile.doYouHavePhysicalStore"/>
                        <label for="store">
                            Do you have a physical store or online store?
                        </label>
                    </div>
                    <div class="col-xs-12 checkbox checkbox-primary">
                        <input type="checkbox" name="open" id="open" value="1" ng-model="participationProfile.doYouWantToOpenStore"/>
                        <label for="open">
                            Would you like to open store on EvezOwn?
                        </label>
                    </div>
                    <div class="col-xs-12 checkbox checkbox-primary">
                        <input type="checkbox" name="ecommerce" id="ecommerce" value="1" ng-model="participationProfile.storeFrontOnly"/>
                        <label for="ecommerce">
                            Store front (without ecommerce option) only?
                        </label>
                    </div>
                    <div class="col-xs-12 checkbox checkbox-primary">
                        <input type="checkbox" name="payment" id="payment" value="1" ng-model="participationProfile.storeWithPayment"/>
                        <label for="payment">
                            Do you want Store with payment gateway?
                        </label>
                    </div>
                    <div class="col-xs-12 checkbox checkbox-primary">
                        <input type="checkbox" name="logistics" id="logistics" value="1" ng-model="participationProfile.needLogistics"/>
                        <label for="logistics">
                            Do you need logistics co-ordination, assistance?
                        </label>
                    </div>
                    <div class="col-xs-12 checkbox checkbox-primary">
                        <input type="checkbox" name="support" id="support" value="1" ng-model="participationProfile.requirePostSalesSupport"/>
                        <label for="support">
                            Do you require post sales support for your store- helpline, call centre services?
                        </label>
                    </div>
                    <div class="col-xs-12 checkbox checkbox-primary">
                        <input type="checkbox" name="survey" id="survey" value="1" ng-model="participationProfile.likeSurvey"/>
                        <label for="survey">
                            Would you like survey, analytics, research or any other consulting services in future?
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-md-offset-8" style="margin-top: 10px">
                            <button
                                    class="btn btn-primary btn-block btn-lg"
                                    tabindex="7" ng-click="saveParticipationProfile(participationProfile)" style="height: 40px">Save</button>
                        </div>
                    </div>
                </form>
                <!--<pre>form = {{user | json}}</pre>-->
                <!--<pre>master = {{master | json}}</pre>-->
            </div>
        </div>
    </div>
</div>