<div class="row" ng-controller="ClassifiedDetailsCtrl" style="margin-top: 10px; background-color: #f2f2f2">
    <div class="col-sm-12">
        <h2 style="font-weight: 600">{{classifiedDetails.title}}</h2>
    </div>
    <div class="col-sm-6">
        <h3 style="margin: 15px 0px">{{classifiedDetails.deal_description}}</h3>
        <div class="row classified-details" style="padding: 0px 20px">

            <h4>Description</h4>
            <hr style="border-color: #ab2faa"/>
            <p>{{classifiedDetails.description}}</p>

            <flex-slider flex-slide="image in classifiedDetails.classified_images"
                         style="margin-top: 10px; padding: 20px 0px">
                <li>
                    <img ng-src="{{image}}">
                </li>
            </flex-slider>


        </div>
    </div>
    <div class="col-sm-6">

        <h4 style="color: #692668; margin-top: 20px">Contact details</h4>
        <hr style="border-color: #ab2faa"/>

        <div class="contact-details">
            <p>Phone: <span>{{classifiedDetails.contact.phone}}</span></p>

            <p>Email: <span>{{classifiedDetails.contact.email}}</span></p>

            <p>Contact Person: <span>{{classifiedDetails.contact.name}}</span></p>
        </div>

        <h4 style="color: #692668; margin-top: 20px">Location</h4>
        <hr style="border-color: #ab2faa"/>

        <div class="contact-details">
            <p>Street Address: <span>{{classifiedDetails.location.street_address}}</span></p>

            <p>City: <span>{{classifiedDetails.location.city}}, {{classifiedDetails.location.state}}</span></p>

            <p>pincode: <span>{{classifiedDetails.location.pincode}}</span></p>
        </div>
        <h4 style="color: #692668; margin-top: 20px">Share using</h4>
        <hr style="border-color: #ab2faa"/>

        <social-share
                sharelink="shareUrl()"
                sharemedia="classifiedDetails.classifiedDetails.classified_images[0]"
                whatsapp="classifiedDetails.is_watsapp_share"
                facebook="classifiedDetails.is_facebook_share"
                twitter="classifiedDetails.is_twitter_share"
                linkedin="classifiedDetails.is_linkedin_share"
                gmail="classifiedDetails.is_gmail_share"
                googleplus="classifiedDetails.is_googleplus_share"
                email="classifiedDetails.contact.email"
                title="classifiedDetails.title">
        </social-share>
    </div>

    <div class="row" style="padding: 0px 20px">
        <ng-comment-recco-rewoice-grade
                ng-comments="classifiedComments"
                ng-comments-metadata="commentMetadata"
                is-comments="true"
                total-grade="totalGrade"
                avg-grade="avgGrade"
                user-grade="userGrade"
                is-grades="true"
                restreams="totalRestreams"
                is-restream="true"
                add-comment="addComment(value)"
                update-comment="updateComment(commentId, comment)"
                delete-comment="deleteComment(id)"
                load-comments="loadComments(page)"
                add-grade="addGrade(grade)"
                add-restream="addRestream()">
        </ng-comment-recco-rewoice-grade>
    </div>

    <div class="row" style="margin: 30px 0px">
        <div class="col-sm-12">
            <a class="btn btn-primary btn-block btn-lg" ng-click="ClassifiedRfiDialog(classifiedDetails.id)">Enquiry/Request
                for
                Information (RFI)</a>
        </div>
    </div>
</div>