<!-- Static navbar -->
<nav class="navbar navbar-default hidden-xs" id="navContainer">
    <div id="navbar1">
        <ul class="nav navbar-nav">
            <li>
                <a href="#mystores/{{userId}}" class="{{isActive[0]}}" ng-class="{ active: isActive('/profile')}">Mysite</a>
            </li>
            
            <li ng-if="loggedInUserId == currentUserId">
                <a href="#myalbums/{{userId}}" class="active" ng-class="{ active: isActive('/myalbums/{{userId}}')}">Gallery</a>
            </li>
            <li ng-if="loggedInUserId != currentUserId">
                <a href="#community" class="active" ng-class="{ active: isActive('/community')}">Build Community</a>
            </li>
            <li ng-class="{ active: isActive('/explore')}">
                <!-- Template which needs to be shown on click -->
                <script type="text/ng-template" id="explore">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        <ul>
                            <li style="padding: 5px; text-align: center"><a  href="#evezplace">MarketPlace</a></li>
                            <li style="padding: 5px; text-align: center"><a  href="#wopportunity">Jobs</a></li>
                        </ul>
                    </div>
                </script>

                <a ns-popover
                   ns-popover-template="explore"
                   ns-popover-trigger="click"
                   ns-popover-theme="ns-popover-list-theme">
                    Explore
                </a>
            </li>
            <li ng-class="{ active: isActive('/search/advanced')}"><a href="#search/advanced"  id="search">Search&nbsp;
                <span class="fa fa-search" id="searchIcon"></span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="col-md-2 col-xs-12 user-menu-btns visible-xs"
    ng-include src='"partials/profile/PromotionalToolMenu.html"'>
</div>

<div class="col-md-12 col-xs-12" ng-controller="profileCtrl">
    <div class="row user-menu-container square">
        <div class="col-md-12 col-xs-12 no-padding user-details">
            <div class="col-md-12 col-xs-12 coralbg white">
                <div class="col-md-3 col-xs-4 top-margin">
                    <div class="user-image biothumb">
                        <img ng-src="{{currentProfileImage}}" src="http://placehold.it/293x220" class="img-responsive thumbnail" />
                    </div>
                </div>


                <div class="col-md-9 col-xs-8 no-pad">
                    <div class="user-pad-profile">
                       <!--name-->
                        <h3 style="text-transform: capitalize;">{{ firstname }} {{ lastname }}</h3>
                        <!--Location-->
                        <div ng-hide="city == '' || country =='' || city == null || country == null">
                            <h4 style="text-transform: capitalize;"><i class="fa fa-location-arrow"></i>&nbsp;{{locationDetails}}</h4>
                        </div>
                        <!--job and company-->
                        <div ng-hide="designation == '' || organization =='' || designation == null || organization == null">
                            <h4 style="text-transform: capitalize;">
                                <i class="fa fa-briefcase"></i> {{designation}}&nbsp;&nbsp;{{connectingtext}}&nbsp;&nbsp;{{organization}}
                            </h4>
                        </div>
                    </div>
                    <div class="row hidden-xs" ng-include='"partials/profile/userProfileCount.html"'></div>
                </div>
            </div>

            <div class="col-md-12 col-xs-12"  id="view">
                <h3>About Me</h3>
                <p style="text-align:justify;padding-bottom:10px;">{{ aboutme }}</p>
            </div>
        </div>
        
        <!--breadcrumb-->
        <div class="col-md-12 col-xs-12" style="margin-top: 10px;" id="view">
            <ul class="breadcrumb" style="background: transparent; padding-left: 0px;font-size:12px;">
                <li><a href="#home">Home</a> <span class="divider"></span></li>
                <li><a href="#mystores/{{currentUserId}}">Promotional Tools</a></li>
                <li class="active">Albums</li>
            </ul>
        </div>
        <!--breadcrumb ends-->

        <div class="col-md-2 user-menu-btns hidden-xs"
            ng-include src='"partials/profile/PromotionalToolMenu.html"'>
        </div>

<div class="col-md-10 col-xs-12 user-menu user-pad"  ng-controller="albums">
    <div class="col-md-12 col-xs-12 panel-heading">
    	<div class="col-md-12 panel-heading hidden-xs" style="padding-left: 0px;padding-right: 0px;">
	        <div class="fragment">
	            <a><span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span></a>
	            <h4 style="color: #369;font-family:'Raleway', sans-serif;font-size:18px;font-weight:500;">Gallery</h4>
	            <p>
	                This is a photo gallery to showcase yourself, your venture, business and aspirations, share with your circles, audience, your can choose.
	            </p>
	        </div>
	    </div>
        <div class="col-md-2 col-xs-6 no-padding">
            <h4>
               Gallery ({{myAlbums.length}})
            </h4>
        </div>
        <div class="col-xs-6 pull-right visible-xs no-padding" ng-if="loggedInUserId == currentUserId">
            <a href ng-click="CreateAlbum()" class="btn btn-primary"><span class="fa fa-plus"></span> Create Gallery</a>
        </div>
        <div class="col-md-4 col-xs-12 no-padding">
            <input type="text" class="form-control" placeholder="search gallery" ng-model="albumsearch"/>
        </div>
        <div class="col-md-2 col-md-offset-4 pull-right hidden-xs no-padding" ng-if="loggedInUserId == currentUserId">
            <a href ng-click="CreateAlbum()" class="btn btn-primary"><span class="fa fa-plus"></span> Create Gallery</a>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 album-section">
        <!-- Row 1-->
        <div class="col-md-4" style="padding-left: 0px; padding-right: 0px" ng-repeat="album in myAlbums | filter:albumsearch">
            <div class="view view-first">
                <img ng-if="album.images.length == 0" src="http://creativethoughts.co.in/evezown/api/public/v1/image/show/2015-02-27-05:22:10-evezown_album.jpg" class="img-responsive"/>
                <img ng-if="album.images.length > 0" src="{{service_url}}image/show/{{album.images[0].large_image_url}}" class="img-responsive"/>
                <div class="mask">
                    <h2>{{album.title}}</h2><br><br>
                    <a href="#myalbumdetails/{{album.id}}/{{currentUserId}}" class="info">view gallery</a>
                    <!-- <a href ng-click="DeleteAlbum(album)" class="info" ng-if="loggedInUserId == currentUserId">Delete album</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
<script type="text/ng-template" id="templateId">
    <div class="ngdialog-buttons popuptemplate" ng-controller="albums">
        <h4>Add album</h4>
        <input class="form-control" type="text" placeholder="Album Title"
               id="circle" ng-model="album" maxlength="15" style="margin-bottom: 10px; height: 50px; font-size: 18px"/>
        <span class="pull-right" ng-hide="album == dirty" style="color:#E50880;">{{15 - album.length}}</span>
        <textarea class="form-control" rows="4" placeholder="Album Description (optional)"
                  ng-model="description" maxlength="100"/>
        <span class="pull-right" ng-hide="description == dirty" style="color:#E50880;">{{100 - description.length}}</span><br>
        <button class="btn primary pull-right form-control" type="button" ng-click="SaveAlbum()">Add</button>
    </div>
</script>