<!-- Static navbar -->
<nav class="navbar navbar-default hidden-xs" id="navContainer">
    <div id="navbar1">
        <ul class="nav navbar-nav">
            <li>
                <a href="#mystores/{{userId}}" class="{{isActive[0]}}" ng-class="{ active: isActive('/profile')}">Mysite</a>
            </li>
            
            <li ng-if="loggedInUserId == currentUserId">
                <a href="#myblogs/{{userId}}" class="{{isActive[1]}}" ng-class="{ active: isActive('/myblogs/{{userId}}')}">Blogs</a>
            </li>
            <li ng-if="loggedInUserId != currentUserId">
                <a href="#community" class="{{isActive[1]}}" ng-class="{ active: isActive('/community')}">Build Community</a>
            </li>
            <li ng-class="{ active: isActive('/explore')}">
                <!-- Template which needs to be shown on click -->
                <script type="text/ng-template" id="explore">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        <ul>
                            <li style="padding: 5px; text-align: center"><a  href="#evezplace">MarketPlace</a></li>
                            <li style="padding: 5px; text-align: center"><a  href="#wopportunity">Jobs</a></li>
                        </ul>
                    </div>
                </script>

                <a ns-popover
                   ns-popover-template="explore"
                   ns-popover-trigger="click"
                   ns-popover-theme="ns-popover-list-theme">
                    Explore
                </a>
            </li>
            <li ng-class="{ active: isActive('/search/advanced')}"><a href="#search/advanced"  id="search">Search&nbsp;
                <span class="fa fa-search" id="searchIcon"></span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="col-md-2 col-xs-12 user-menu-btns visible-xs"
    ng-include src='"partials/profile/PromotionalToolMenu.html"'>
</div>


<div class="col-md-12 col-xs-12" ng-controller="profileCtrl">
    <div class="row user-menu-container square">
        <div class="col-md-12 col-xs-12 no-padding user-details">
            <div class="col-md-12 col-xs-12 coralbg white">
                <div class="col-md-3 col-xs-4 top-margin">
                    <div class="user-image biothumb">
                        <img ng-src="{{currentProfileImage}}" src="http://placehold.it/293x220" class="img-responsive thumbnail" />
                    </div>
                </div>

                <div class="col-md-9 col-xs-8 no-pad">
                    <div class="user-pad-profile">
                        <!--name-->
                        <h3 style="text-transform: capitalize;">{{ firstname }} {{ lastname }}</h3>
                        <!--Location-->
                        <div ng-hide="city == '' || country =='' || city == null || country == null">
                            <h4 style="text-transform: capitalize;"><i class="fa fa-location-arrow"></i>&nbsp;{{locationDetails}}</h4>
                        </div>
                        <!--job and company-->
                        <div ng-hide="designation == '' || organization =='' || designation == null || organization == null">
                            <h4 style="text-transform: capitalize;">
                                <i class="fa fa-briefcase"></i> {{designation}}&nbsp;&nbsp;{{connectingtext}}&nbsp;&nbsp;{{organization}}
                            </h4>
                        </div>
                    </div>
                    <div class="row hidden-xs" ng-include='"partials/profile/userProfileCount.html"'></div>
                </div>
            </div>

            <div class="col-md-12 col-xs-12"  id="view">
                <h3>About Me</h3>
                <p style="text-align:justify;padding-bottom:10px;">{{ aboutme }}</p>
            </div>
        </div>

        <!--breadcrumb-->
        <div class="col-md-12 col-xs-12" style="margin-top: 10px;" id="view">
            <ul class="breadcrumb" style="background: transparent; padding-left: 0px;font-size:12px;">
                <li><a href="#home">Home</a> <span class="divider"></span></li>
                <li><a href="#mystores/{{currentUserId}}">Promotional Tools</a></li>
                <li class="active">Blogs</li>
            </ul>
        </div>
        <!--breadcrumb ends-->

        <div class="col-md-2 user-menu-btns hidden-xs"
             ng-include src='"partials/profile/PromotionalToolMenu.html"'>
        </div>

        <!--For Member-->
        <div class="col-md-10 col-xs-12 user-menu user-pad" ng-show="Role != 1 && currentUserId == loggedInUserId">
            <div class="col-md-12 col-xs-12">
                <div class="col-md-12 col-xs-12 empty-section text-center">
                    <span class="fa fa-exclamation-circle" style="color: #e50880; font-size: 64px;"></span>

                    <h3 style="font-weight: 200">This feature is not available for you. This feature is available only in the premium edition. In order to enable this feature please send a subscription request to evezown editor</h3>

                    <div class="col-md-2 col-xs-12 col-md-offset-5 text-center">
                        <a href class="btn btn-primary"> Subscribe Now</a>
                    </div>

                </div>
            </div>
        </div>

        <!--For Admin-->
        <div class="col-md-10 col-xs-12 user-menu user-pad"  ng-show="Role == 1 && currentUserId == loggedInUserId">
        <div  ng-controller="blogCntrl">
        	<div class="col-md-12 panel-heading hidden-xs" style="padding-left: 0px;padding-right: 0px;">
                <div class="fragment">
                    <a><span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span></a>
                    <h4 style="color: #369;font-family:'Raleway', sans-serif;font-size:18px;font-weight:500;">Blogs</h4>
                    <p>
                        Express your thoughts through articles and blogs, you can write free flow, all features for smart editing are available to make writing simple. Share and control visibility.
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 panel-heading">
                <div class="col-md-2 col-xs-6 no-padding">
                    <h4>
                        Blogs ({{myBlogs.length}})
                    </h4>
                </div>
                <div class="col-xs-6 pull-right visible-xs no-padding" ng-if="loggedInUserId == currentUserId">
                    <!-- <a href="#createmyblogs" class="btn btn-primary"><span class="fa fa-plus"></span> Create Blog</a> -->
                    <a href="#createblogs" class="btn btn-primary"><span class="fa fa-plus"></span> Create Blog</a>
                </div>
                <div class="col-md-4 col-xs-12 no-padding">
                    <input type="text" class="form-control" placeholder="search blogs" ng-model="blogsearch"/>
                </div>
                <div class="col-md-2 col-md-offset-4 pull-right hidden-xs no-padding" ng-if="loggedInUserId == currentUserId">
                    <!-- <a href="#createmyblogs" class="btn btn-primary"><span class="fa fa-plus"></span> Create Blog</a> -->
                    <a href="#createblogs" class="btn btn-primary"><span class="fa fa-plus"></span> Create Blog</a>
                </div>
            </div>

            <!--for loggedin users-->
            <div class="col-md-12 col-xs-12 blog-post-items" ng-if="currentUserId == loggedInUserId">
                <!-- No blogs-->
                <div class="empty-section text-center" ng-show="myBlogs.length == 0">
                    <span class="fa fa-exclamation-circle" style="color: #e50880; font-size: 64px;"></span>

                    <h3 style="font-weight: 200">We can't seem to find any specials for this category around here</h3>
                </div>
                <!--Blogs exist-->
                <div class="col-md-6 post-item container-closed" ng-repeat="blog in myBlogs | filter:blogsearch">
                    <figure class="post-thumbnail" style="max-height:200px;">
                        <a href="#blogs/{{blog.id}}/{{currentUserId}}"
                           title="{{blog.title}}">
                            <img ng-src="img/blog.png" class="img-thumbnail" ng-if="blog.blog_image == null"/>
                            <img ng-src="{{service_url}}image/show/{{blog.blog_image.large_image_url}}" class="img-thumbnail" ng-if="blog.blog_image != null" alt="{{blog.title}}"/> </a>
                    </figure>
                    <section class="post-content">
                        <header>
                            <a href="#blogs/{{blog.id}}/{{currentUserId}}"
                               title="{{blog.title}}"><h2 class="post-title">{{blog.title | strLimit: 20}}</h2></a>

                            <div class="single-meta">
                                <span>
                                    <span>
                                        <a href="#mystores/{{loggedInUserId}}" class="author-name">{{blog.author.firstname}} {{blog.author.lastname}}</a>&nbsp;&nbsp;•&nbsp;&nbsp;
                                        <a href rel="category tag">{{blog.subcategory.category.category_name}}</a>&nbsp;&nbsp;•&nbsp;&nbsp;
                                        <a href rel="category tag">{{blog.subcategory.subcategory_name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                    <p  ng-bind="convertToDate(blog.updated_date.date) | date:'medium'"></p>
                                </span>
                            </div>
                        </header>
                        <div class="main-content">
                            <ANY ng-bind-html="blog.content | strLimit:150">
                            </ANY>
                        </div>
                        <footer>
                        <font color="red" size= "2">{{blog.status == 'draft'?'Draft':''}}</font>
                        <font color="green" size= "2">{{blog.status == 'published'?'Published':''}}</font>
                         <a href="#blogs/{{blog.id}}/{{currentUserId}}" title="{{blog.title}}" class="read-more-btn btn btn-blue">Read
                                more...</a>
                        </footer>
                        <div class="clearfix"></div>
                    </section>
                </div>
                <button class="btn btn-block btn-blue" ng-if="myBlogs.length > 6">Load More</button>
            </div>
        </div>
        </div>

        <!--For visitiing friends profile-->
        <div class="col-md-10 col-xs-12 user-menu user-pad"  ng-show="currentUserId != loggedInUserId">
        <div  ng-controller="blogCntrl">
            <div class="col-md-12 panel-heading" style="padding-left: 0px;padding-right: 0px;">
                <div class="fragment">
                    <a><span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span></a>
                    <h4 style="color: #369;font-family:'Raleway', sans-serif;font-size:18px;font-weight:500;">Blogs</h4>
                    <p>
                        Express your thoughts through articles and blogs, you can write free flow, all features for smart editing are available to make writing simple. Share and control visibility.
                    </p>
                </div>
            </div>
            <div class="col-md-12 panel-heading">
                <div class="col-md-2">
                    <h4>
                        Blogs ({{myBlogs.length}})
                    </h4>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="search blogs" ng-model="blogsearch"/>
                </div>
            </div>
            <!--for viewing friends blogs-->
            <div class="col-md-12 blog-post-items">
                <!-- No blogs-->
                <div class="empty-section text-center" ng-show="myBlogs.length == 0">
                    <span class="fa fa-exclamation-circle" style="color: #e50880; font-size: 64px;"></span>

                    <h3 style="font-weight: 200">We can't seem to find any specials for this category around here</h3>
                </div>
                <!--Blogs exist-->
                <div class="col-md-6 post-item container-closed" ng-repeat="blog in myBlogs | filter:blogsearch" ng-if="blog.status == 'published'">
                    <figure class="post-thumbnail" style="max-height:200px;">
                        <a href="#blogs/{{blog.id}}/{{currentUserId}}"
                           title="{{blog.title}}">
                            <img ng-src="img/blog.png" class="img-thumbnail" ng-if="blog.blog_image == null"/>
                            <img ng-src="{{service_url}}image/show/{{blog.blog_image.large_image_url}}" class="img-thumbnail" ng-if="blog.blog_image != null" alt="{{blog.title}}"/> </a>
                    </figure>
                    <section class="post-content">
                        <header>
                            <a href="#blogs/{{blog.id}}/{{currentUserId}}"
                               title="{{blog.title}}"><h2 class="post-title">{{blog.title | strLimit: 20}}</h2></a>

                            <div class="single-meta">
                                <span>
                                    <span>
                                        <a href="#profile/{{loggedInUserId}}" class="author-name">{{blog.author.firstname}} {{blog.author.lastname}}</a>&nbsp;&nbsp;•&nbsp;&nbsp;
                                        <a href rel="category tag">{{blog.subcategory.category.category_name}}</a>&nbsp;&nbsp;•&nbsp;&nbsp;
                                        <a href rel="category tag">{{blog.subcategory.subcategory_name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                    <p  ng-bind="convertToDate(blog.updated_date.date) | date:'medium'"></p>
                                </span>
                            </div>
                        </header>
                        <div class="main-content">
                            <ANY ng-bind-html="blog.content | strLimit:150">
                            </ANY>
                        </div>
                        <footer>
                            <a href="#blogs/{{blog.id}}/{{currentUserId}}" title="{{blog.title}}" class="read-more-btn btn btn-blue">Read
                                more...</a>
                        </footer>
                        <div class="clearfix"></div>
                    </section>
                </div>
                <button class="btn btn-block btn-blue" ng-if="myBlogs.length > 6">Load More</button>
            </div>
        </div>
        </div>


    </div>
</div>