    <div class="col-md-12" ng-controller="profileCountCtrl">
            <div class="col-md-2  well text-center" id="user-profile">
                <h3>{{friendsList}}</h3>
                <h4>Friends</h4>
            </div>

        <div class="col-md-2  well text-center" id="user-profile">
            <h3>{{circlesList}}</h3>
            <h4>Circles</h4>
        </div>
        <div class="col-md-2  well text-center" id="user-profile">
            <h3>{{eventssList}}</h3>
            <h4>Events</h4>
        </div>
        <div class="col-md-2  well text-center" id="user-profile">
            <h3>{{blogsList}}</h3>
            <h4>Blogs</h4>
        </div>
        <div class="col-md-2  well text-center" id="user-profile">
            <h3>{{albumsList}}</h3>
            <h4>Gallery</h4>
        </div>
        <div class="col-md-2  well text-center" id="user-more">
            <h3><i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
            </h3>
        </div>
    </div>
