<div class="create-store-section text-center" ng-controller="ClassifiedsSuccessCtrl">
    <div class="row">
        <div class="col-md-12">
            <h5 style="color: #e51385; font-weight: 700; font-size: 2.0em; margin-bottom: 20px">Classified Created
                Successfully.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="fa-stack fa-lg fa-4x">
              <i class="fa fa-circle fa-stack-2x" style="color: #ffffff"></i>
              <i class="fa fa-check fa-stack-1x fa-inverse" style="color: #009966"></i>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="padding: 20px 80px">
            <p style="font-weight: 400; font-size: 1.2em">Your classified is ready.
                You can <a style="color: #e51385;" href="">publish</a> it right away
                or <a style="color: #e51385;" href="">preview</a> it or make further
                <a style="color: #e51385;" href="">edits</a>.
            </p>
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-md-6  col-md-offset-3">
            <a href="#classifieds/{{addClassified.id}}" class="btn btn-primary btn-lg btn-block"><span
                    class="fa fa-eye"></span> Preview Classified Now</a>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-6  col-md-offset-3">
            <a href ng-click="publishClassified()" class="btn btn-primary btn-lg btn-block"><span
                    class="fa fa-check"></span> Publish Classified Now</a>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 20px">
        <div class="col-md-6  col-md-offset-3">
            <a href="#classified/{{addClassified.id}}/manage/classified_type" class="btn btn-primary btn-lg btn-block">Manage Classifieds</a>
        </div>
    </div>
</div>

<script type="text/ng-template" id="finishClassifiedDialogId">
    <div class="ngdialog-buttons popuptemplate">
        <div class="create-store-section text-center" style="margin-bottom: 0px">
            <div class="row">
                <div class="col-md-12">
                    <h5 style="color: #e51385; font-weight: 700; font-size: 1.8em; margin-bottom: 20px">Publish
                        Classified</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
            <span class="fa-stack fa-lg fa-2x">
              <i class="fa fa-circle fa-stack-2x" style="color: #ffffff"></i>
              <i class="fa fa-check fa-stack-1x fa-inverse" style="color: #009966"></i>
            </span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="padding: 20px 80px">
                    <p style="font-weight: 100; font-size: 1.2em">You can activate your classified now or publish it to
                        recco channel.
                    </p>
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-md-6  col-md-offset-3">
                    <p style="font-weight: 400; font-size: 1.2em">Publish classified to recco?
                        <input type="checkbox"
                               ng-model="publishToRecco"
                               ng-checked="publishToRecco"/>
                    </p>
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-md-6  col-md-offset-3">
                    <p style="font-weight: 400; font-size: 1.2em">Activate classified now?
                        <input type="checkbox"
                               ng-model="activateClassified"
                               ng-checked="activateClassified"/>
                    </p>
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-md-6  col-md-offset-3">
                    <a ng-click="finishClassified(activateClassified)" class="btn btn-primary btn-block btn-lg">Finish</a>
                </div>
            </div>
        </div>
    </div>
</script>
