<div class="create-browse-section" ng-controller="createBrowseController">
    <div class="row" id="store-button-section" ng-if="!isClassified">
        
        <div class="col-md-4 col-xs-12">
             <a ng-if="!isProductPlusService" href="#store/browse" id="btn-browse-store" class="btn btn-block">Browse Existing {{storeType}} <span class="fa fa-angle-right fa-2x pull-right"></span></a>
             <a ng-if="isProductPlusService" href="#store/browse" id="btn-browse-store" class="btn btn-block">Browse {{storeType}} <span class="fa fa-angle-right fa-2x pull-right"></span></a>
        </div>
        
        <div class="col-md-4 col-xs-12">
             <a href="#classifieds/browse" id="btn-browse-classifieds" class="btn btn-block">Browse Ads & Campaigns <span class="fa fa-angle-right fa-2x pull-right"></span></a>
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="input-group add-on">
                <div class="icon-addon addon-md">
                    <input type="text" class="form-control" ng-model="SearchValue" placeholder="Search Products & Service" style="height:42px;font-size:16px;margin-bottom:2px;" ng-enter="SearchProducts(SearchValue)">
                </div>
                <div class="input-group-btn">
                    <button class="btn btn-default btn-popover" ng-click="SearchProducts(SearchValue)" style="left:1px;height:42px;margin-bottom:2px;">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    
    </div>
    <div class="row" id="store-button-section" ng-if="isClassified">
        
        <div class="col-md-6">
             <a href="#classifieds/browse" id="btn-browse-classifieds" class="btn btn-block">Browse Ads & Campaigns <span class="fa fa-angle-right fa-2x pull-right"></span></a>
        </div>

        <div class="col-md-6">
            <div class="input-group add-on">
                <div class="icon-addon addon-md">
                    <input type="text" class="form-control" placeholder="Search Products" style="height:42px;font-size:16px;margin-bottom:2px;">
                </div>
                <div class="input-group-btn">
                    <button class="btn btn-default btn-popover" ng-click="" style="left:1px;height:42px;margin-bottom:2px;">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
       
    </div>
</div>