<!-- Main component for a primary marketing message or call to action -->
<!--description text-->
<!-- Main component for a primary marketing message or call to action -->
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="30000" style="background-color:#FFFFFF">

    <!-- Wrapper for slides -->
    <div class="jumbotron home-jumbotron"
         ng-show="caption" id="no-border-round" ng-controller="HomeController" style="padding:10px 10px 10px 10px;background-color:#FFFFFF;border: 1px solid #CFCFCE;margin-bottom:4px;">
        <div class="carousel-inner"
             ng-intro-options="IntroOptions" ng-intro-method="CallMe"
             ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent"
             ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent"
             ng-intro-autostart="false">
             
            <!-- To be shown if not logged in -->
            <div class="col-md-12" ng-hide="loggedIn" style="padding:0px;">

                <div class="col-md-4" >
                <a href="#profile/{{userId}}" style="text-decoration:none;"><h1 style="font-size:22px;margin-bottom:10px;margin-top:10px;background-color:#FFFFFF;" id="step1" data-target="#step1" data-toggle="tab" data-slide-to="0">{{LandingCaptions[0].description}}</h1></a>
                <p style="text-align: justify;word-break: break-all;font-size:15px;">
                    <img src="img/mysite.jpg" class="description-img" width="150" height="90" style="border: 2px solid #FFFFFF;"/>
                    {{LandingCaptions[3].description}}</p>
                </div>

                <div class="col-md-4" >
                <a href="#evezplace" style="text-decoration:none;"><h1 style="font-size:22px;margin-bottom:10px;margin-top:10px;background-color:#FFFFFF" id="step2" data-target="#step2" data-toggle="tab" data-slide-to="1">{{LandingCaptions[1].description}}</h1></a>
                <p style="text-align: justify;word-break: break-all;font-size:15px;">
                    <img src="img/market_place.jpg" class="description-img" width="150" height="80" style="border: 2px solid #FFFFFF;"/>
                    {{LandingCaptions[4].description}}</p>
                </div>

                <div class="col-md-4" >
                <a href="#wopportunity" style="text-decoration:none;"><h1 style="font-size:22px;margin-bottom:10px;margin-top:10px;background-color:#FFFFFF" id="step3" data-target="#step3" data-toggle="tab" data-slide-to="2">{{LandingCaptions[2].description}}</h1></a>
                <p style="text-align: justify;word-break: break-all;font-size:15px;">
                    <img src="img/jobs.jpg" class="description-img" width="150" height="90" style="border: 2px solid #FFFFFF;"/>
                    {{LandingCaptions[5].description}}</p>
                </div>

                <div class="col-md-12 col-xs-12">
                    <div class="col-md-8 zero-left-padding">
                        <!-- <p id="eye-buy"><i>Explore Evezown.com. Make it your own place!</i></p> -->
                    </div>
                    <div class="col-md-2 col-xs-6">
                        <button class="btn btn-lg btn-primary pull-right" ng-click="CallMe();" style="padding:6px 10px; font-size:16px;font-weight: 400;">{{LandingCaptions[6].description}}</button>
                    </div>
                    <div class="col-md-2 col-xs-6">
                        <a class="btn btn-lg btn-primary pull-right" href="#requestinvite" role="button" style="padding:6px 10px; font-size:16px;font-weight: 400;"> {{LandingCaptions[7].description}} &raquo;</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12" ng-if="loggedIn">
                <h1>Evezown</h1>
                <p style="text-align:justify;word-break: break-all;">Good to see you, Go ahead create your own place, create your site, build your closed private community, use our single window to create stores, Ads & Campaigns, promote your stores and business through host of promotional features we offer.</p>

                <div class="request-invite">
                    <div class="col-md-8 zero-left-padding">
                        <p id="eye-buy"><a href="#profile/{{userId}}/personalinfo" style="text-decoration:none;"><i>Complete your profile now.</i></a></p>
                    </div>
                    <div class="col-md-4" ng-hide="loggedIn">
                        <a class="btn btn-lg btn-primary pull-right" href="#requestinvite" role="button">Create Signup Invite &raquo;</a>
                    </div>
                    <div class="col-md-4" ng-show="loggedIn" style="margin-top: 40px">
                        <a class="btn btn-lg btn-primary pull-right" href="#profile/{{userId}}/personalinfo" role="button">Complete
                            your profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--description text ends-->
<div ng-include src='"partials/evezplace/create_browse_partial.html"'></div>

<div class="col-md-12 hidden-xs" ng-include src='"partials/evezplace/product_menu.html"'
     ng-controller="ProductMenuController"></div>

<div ng-include src='"partials/evezplace/promotion_partial.html"'></div>



<div class="row">
    <div ng-include src='"partials/evezplace/products_partial.html"'></div>
    <div ng-include src='"partials/evezplace/article_news_interviews_partial.html"'></div>
</div>

<div ng-include src='"partials/video_interview_partial.html"'></div>
