<div class="container">
    <ul class="breadcrumb" style="background: transparent; padding-left: 0px">
        <li><a href="#home">Home</a> <span class="divider"></span></li>
        <li><a href="#evezplace">Marketplace</a></li>
        <li class="active">Products</li>
    </ul>

    <div class="col-md-12 no-padding create-browse-section" ng-controller="createBrowseController">
        <div class="input-group add-on">
            <div class="icon-addon addon-md">
                <input type="text" class="form-control" ng-model="SearchValue" placeholder="Search Products" style="height:42px;font-size:16px;margin-bottom:2px;" ng-enter="SearchProducts(SearchValue)">
            </div>
            <div class="input-group-btn">
                <button class="btn btn-default btn-popover" ng-click="SearchProducts(SearchValue)" style="left:1px;height:42px;margin-bottom:2px;">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 40px">

        <div class="col-md-12">

            <div class="col-md-3 no-padding">
                <div class="col-md-12 no-padding" ng-controller="BrowseStoreMenuController">
                    <h4 class="search-products-header">Categories</h4>
                    <sidebar categories="categories" select-sub-category="selectSubCatPosition(subcat)" ></sidebar>
                </div>

                <div class="col-md-12 no-padding">
                    <h4 class="search-products-header">Price Range</h4>
                    <div class="col-md-12" style="background-color: #F7F7F7;">
                        <h4>Select Price Range</h4>

                        <div ng-repeat="Range in Ranges">
                            <input type="checkbox" ng-checked="selectedRange.indexOf(Range) > -1" ng-click="PriceRange(Range)">
                            <label style="font-weight:normal;">{{Range}}</label><br>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 no-padding search-products-menu" ng-controller="BrowseStoreCtrl">
                    <h4 class="search-products-header">Stores</h4>
                    <p style="margin:0px;"ng-repeat="item in browseItems">
                        <a class="search-products-content" href="#store/{{item.id}}">{{item.title}}</a>
                    </p>
                </div>  
            </div>

            <div class="col-md-9" ng-controller="SearchProductController">
                <div class="browse-items">
                    <div class="row">
                        <!--Product 1-->
                        <div class="col-md-3" ng-repeat="product in Products">
                            <div class="living_box" style="max-height: 100px;">
                                <a href="#store/products/{{product.id}}">
                                    <img ng-src="{{imageUrl + product.product_sk_u[0].product_images[0].image.large_image_url +
                                                    '/600/600'}}" style="width: 100%;"
                                                    class="img-responsive center-block"
                                                    alt="{{product.title}}">
                                </a>
                            </div>
                            <div class="col-sm-12 text-center" style="margin: 10px 0px; font-weight: 600">
                                <h4 style="color: #333333">{{product.title}}</h4>
                                <p style="color: #777777">&#8377; {{product.product_sk_u[0].price}}</p>
                            </div>
                        </div>
                    </div>
                    
                    
                    <uib-pagination ng-show="userPagination.total > 12" total-items="userPagination.total"
                                ng-model="currentUserPage"
                                max-size="maxSize"
                                class="pagination-custom pagination-sm pull-right"
                                boundary-links="true"
                                rotate="false"
                                items-per-page = "12"
                                num-pages="numPages"
                                ng-change="pageChanged()">
                    </uib-pagination>
                </div>
                <div class="empty-section text-center" ng-if="Products.length == 0">
                    <span class="fa fa-exclamation-circle" style="color: #e50880; font-size: 64px;"></span>

                    <h3 style="font-weight: 200">No products matches your search</h3>
                </div>
            </div>
        </div>
    </div>
</div>