
                    <div class="col-md-3 col-xs-12 user-menu-btns">
                        <div class="btn-group-vertical square" id="responsive">
                            <a ng-click="GetIndex(4);" class="btn btn-block {{currentSection4}}">
                                <p style="font-size: 16px;">PayU Money</p>
                            </a>
                            <a ng-click="GetIndex(0)" class="btn btn-block {{currentSection0}}">
                                <p style="font-size: 16px;">Cash On Delivery</p>
                            </a>
                            <a ng-click="GetIndex(2);" class="btn btn-block {{currentSection2}}">
                                <p style="font-size: 16px;">Cheque Payment</p>
                            </a>
                            <!-- <a ng-click="GetIndex(1);" class="btn btn-block {{currentSection1}}">
                                <p style="font-size: 16px;">Bank Payment</p>
                            </a> -->
                            <!-- <a ng-click="GetIndex(3);" class="btn btn-block {{currentSection3}}">
                                <p style="font-size: 16px;">Pay Online</p>
                            </a> -->
                        </div>          
                    </div>

                    <div class="col-md-6 col-xs-12" ng-show="CashOnDelivery">
                        <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                            <div class="fragment">
                                <a><span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span></a>
                                <h4>You selected cash on delivery</h4>
                                
                            </div>
                        </div>
                        <div class="col-md-12">
                          <a href="" class="btn btn-primary btn-block" style="margin-top:10px;margin-bottom:10px;" ng-click="SubmitPayment(1)">SUBMIT ORDER</a>
                        </div>
                    </div>

                    <!-- <div class="col-md-6 col-xs-12" ng-show="BankPayment">
                        <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                            <div class="fragment">
                                <a><span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span></a>
                                <h4>You selected Bank Payment</h4>
                                
                            </div>
                        </div>
                        <div class="col-md-12">
                        <a href="" class="btn btn-primary btn-block" style="margin-top:10px;margin-bottom:10px;" ng-click="SubmitPayment(2)">SUBMIT ORDER</a>
                        </div>
                    </div> -->

                    <div class="col-md-6 col-xs-12" ng-show="ChequePayment">
                        <div class="col-md-12 col-xs-12">
                            <h4>Enter Cheque Details</h4>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <label>
                            Cheque.NO
                                <input type="text" class="form-control" ng-model="orderData.chequeNumber" required/>
                            </label>
                            <label>
                            Date
                                <input date-range-picker options="{format: 'YYYY/MMM/DD', timePicker: false, singleDatePicker: true, minDate: date}" id="classifiedDuration" class="form-control date-picker" type="text" ng-model="orderData.chequeDate" style="font-weight: 600" readonly/>
                            </label>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <a href="" class="btn btn-primary btn-block" ng-click="SubmitPayment(3)" style="margin-top:10px;margin-bottom:10px;">SUBMIT ORDER</a>
                        </div>
                    </div>

                    <!-- <div class="col-md-6 col-xs-12" ng-show="PayOnline" ng-include='"partials/payment/stripe/stripe.html"'>
                                                    
                    </div> -->

                    <div class="col-md-6 col-xs-12" ng-show="PayUmoney">
                        <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                            <div class="fragment" style="border:none;">
                                <!-- <a><span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span></a>
                                <h4>You selected Online Payment</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium ad aliquam cupiditate dicta
                                </p> -->
                                <img ng-src="img/payUmoney.png" class="img-responsive" alt=""/>
                            </div>
                        </div>
                        <form action="https://secure.payu.in/_payment" method="post" target="_top" name="payuForm" id="payuForm">
                            <input type="hidden" name="key"  ng-value="MERCHANT_KEY" />
                            <input type="hidden" name="hash"  ng-value="encrypttext"/>
                            <input type="hidden" name="txnid"  ng-value="transactions" />
                            
                            <input type="hidden" name="amount"  ng-value="orderAmount" />
                            <input type="hidden" name="productinfo" ng-value="productInfo" />
                            <input type="hidden" name="surl"  ng-value="surl" />
                            <input type="hidden" name="furl"  ng-value="furl" />
                            <input type="hidden" name="curl"  ng-value="curl" />
                            <input type="hidden" name="firstname"  ng-value="orderData.buyer.name" />
                            <input type="hidden" name="lastname"  ng-value="" />
                            <input type="hidden" name="email"  ng-value="orderData.buyer.email" />
                            <input type="hidden" name="phone"  ng-value="orderData.phone" />
                            <input type="hidden" name="service_provider" value="payu_paisa" />

                            <input name="address1" type="hidden" ng-value="orderData.checkOutType" />
                            <input name="address2" type="hidden" ng-value="orderData.buyer.email" />
                            <input name="city" type="hidden" ng-value="" />
                            <input name="state" type="hidden" ng-value="orderData.checkOutType" />
                            <input name="country" type="hidden" ng-value="" />
                            <input name="zipcode" type="hidden" ng-value="storeId" />
                            <input name="udf1" type="hidden" ng-value="" />
                            <input name="udf2" type="hidden" ng-value="" />
                            <input name="udf3" type="hidden" ng-value="" />
                            <input name="udf4" type="hidden" ng-value="" />
                            <input name="udf5" type="hidden" ng-value="" />
                            <input type="submit" class="btn btn-primary btn-block" ng-click="payuSubmit($event)" value="Pay Through PayU Money" style="margin-top:10px;margin-bottom:10px;"/>
                        </form>
                    </div>

                    <div class="col-md-3 col-xs-12" style="background-color: #F6F6F6;">
                        <h4 class="text-center" style="color: #e50880;">Total Amount</h4>
                        <h4 class="text-center" style="color:#57C5A0;">&#x20b9;{{total_price}}</h4>
                    </div>
                