<style>
    @media only screen and (max-width: 800px) {
/* Force table to not be like tables anymore */
#no-more-tables table,
#no-more-tables thead,
#no-more-tables tbody,
#no-more-tables th,
#no-more-tables td,
#no-more-tables tr {
display: block;
}
 
/* Hide table headers (but not display: none;, for accessibility) */
#no-more-tables thead tr {
position: absolute;
top: -9999px;
left: -9999px;
}
 
#no-more-tables tr { border: 1px solid #ccc; }
  
#no-more-tables td {
/* Behave like a "row" */
border: none;
border-bottom: 1px solid #eee;
position: relative;
padding-left: 50%;
white-space: normal;
text-align:left;
}
 
#no-more-tables td:before {
/* Now like a table header */
position: absolute;
/* Top/left values mimic padding */
top: 6px;
left: 6px;
width: 45%;
padding-right: 10px;
white-space: nowrap;
text-align:left;
font-weight: bold;
}
 
/*
Label the data
*/
#no-more-tables td:before { content: attr(data-title); }
}

.shopping-cart-checkout{
-webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.24);
box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.24);
}

.variants{
    font-size: 11px;
}
</style>

<div class="col-sm-12" ng-if="isShoppingCartEmpty">
    <div class="row" style="margin-top: 120px; margin-bottom: 120px">
        <div class="no-shopping-item text-center">
            <p ng-show="checkOutType == 'cart'">Your shopping cart is currently empty</p>
            <p ng-show="checkOutType == 'buy'">You Don't Have Any Products To Buy</p>
            <a href="#store/browse" class="btn btn-primary btn-lg">browse stores now</a>
        </div>
    </div>
</div>

<div style="margin:0 auto;width:80%;" ng-if="storeId && !isShoppingCartEmpty">
<div class="col-md-12 col-xs-12 no-padding shopping-cart-checkout text-align:center;" style="margin-bottom: 20px">
    <!-- ng-if="!isShoppingCartEmpty" -->
    <div class="col-md-12 col-xs-12 no-padding">
             <!-- ng-if="!isOrderSuccess" -->
             <!--User Details-->
        <div class="CartDetails" style="{{CartDetails}}">
            <div class="col-sm-12 col-xs-12 no-padding">
                <h4 style="padding: 10px 5px;margin-top: 0px; background: #57C5A0; color: #ffffff;">1. CONTACT INFO</h4>
            </div>
            <div class="col-md-12 col-xs-12" ng-show="!EmailEdit">
                <div class="col-md-4 col-xs-4">
                    <p>Name</p>
                    <p>Email</p>
                    <p>Phone</p>
                    <!-- <p>BuyerCode</p> -->
                </div>
                <div class="col-md-4 col-xs-4">
                    <p>{{orderData.buyer.name}}</p>
                    <p>{{orderData.buyer.email}}</p>
                    <p>{{orderData.buyer.phone}}</p>
                   <!--  <input type="text" ng-model="orderData.buyer.code" placeholder="BuyerCode(Optional)" class="col-md-8 col-xs-12"/> -->
                </div>
                <div class="col-md-4 col-xs-12">
                    <a  href="" ng-click="EmailEdit=true" class="btn btn-primary pull-right" style="margin-top:10px;">CHANGE DETAILS</a>
                </div>
            </div>
            <div class="col-md-12 col-xs-12" ng-show="EmailEdit">
                <div class="col-md-4 col-xs-4">
                    <h4>Name</h4>
                    <h4>Email</h4>
                    <h4>Phone</h4>
                    <h4 ng-if="!loggedInUser">BuyerCode</h4>
                </div>
                <div class="col-md-8 col-xs-8" style="margin-top: 5px">
                    <input type="text"  ng-model="orderData.buyer.name" placeholder="Name" class="col-md-6 col-xs-12" required/>
                </div>
                <div class="col-md-8 col-xs-8" style="margin-top: 5px">
                    <input type="email"  ng-model="orderData.buyer.email" placeholder="Email" class="col-md-6 col-xs-12" required/>
                </div>
                <div class="col-md-8 col-xs-8" style="margin-top: 5px">
                    <input type="number" minlength="6" maxlength="13" ng-model="orderData.buyer.phone" placeholder="Phone" class="col-md-6 col-xs-12" required/>
                </div>
                <div class="col-md-8 col-xs-8" style="margin-top: 5px">
                    <input ng-if="!loggedInUser"  type="text" ng-model="orderData.buyer.code" placeholder="BuyerCode(Optional)" class="col-md-6 col-xs-12"/>
                </div>
            </div>
            <!--User Details ends-->

            <!--Address Details-->
            <div class="col-sm-12 col-xs-12 no-padding">
                <h4 style="padding: 10px 5px; background: #57C5A0; color: #ffffff;">2. DELIVERY DETAILS</h4>
            </div>

            <div class="col-md-12 col-xs-12 form-group" ng-show="!AddressEdit">
                <div class="col-md-3">
                    <h4 style="color: #e50880;">Delivery Address</h4>
                    <p>Address 1</p>
                    <p>City</p>
                    <p>State</p>
                    <p>Country</p>
                    <p>PinCode</p>
                </div>
                <div class="col-md-3">
                    <h4 style="color: #e50880;">Billing Address</h4>
                    <p>{{orderData.billing_address.addressLine1}}</p>
                    <p>{{orderData.billing_address.city}}</p>
                    <p>{{orderData.billing_address.state}}</p>
                    <p>{{orderData.billing_address.country}}</p>
                    <p>{{orderData.billing_address.pincode}}</p>
                </div>
                <div class="col-md-3">
                    <h4 style="color: #e50880;">Shipping Address</h4>
                    <p>{{orderData.shipping_address.addressLine1}}</p>
                    <p>{{orderData.shipping_address.city}}</p>
                    <p>{{orderData.shipping_address.state}}</p>
                    <p>{{orderData.shipping_address.country}}</p>
                    <p>{{orderData.shipping_address.pincode}}</p>
                </div>
                <div class="col-md-3">
                    <a href="" ng-click="AddressEdit=true" class="btn btn-primary pull-right" style="margin-top:10px;">CHANGE DETAILS</a>
                </div>
            </div>

            <div class="col-md-12 col-xs-12" ng-show="AddressEdit">
                <div class="order-billing col-md-12 col-xs-12 no-padding">
                    <!--Address labels-->
                    <div class="col-md-4 col-xs-12">
                        <h4 style="color: #e50880;">Delivery Details</h4>
                        <div class="col-md-12 no-padding">
                            <h4>Address Line 1</h4>
                        </div>
                        <div class="col-md-12 no-padding">
                            <h4>Address Line 2</h4>
                        </div>
                        <div class="col-md-12 no-padding">
                            <h4>Address Line 3</h4>
                        </div>
                        <div class="col-md-12 no-padding">
                            <h4>City</h4>
                        </div>
                        <div class="col-md-12 no-padding">
                            <h4>State</h4>
                        </div>
                        <div class="col-md-12 no-padding">
                            <h4>Country</h4>
                        </div>
                        <div class="col-md-12 no-padding">
                            <h4>Pincode</h4>
                        </div>
                    </div>
                    <!--Billing address-->
                    <div class="col-md-4 col-xs-12">
                        <h4 style="color: #e50880;">Billing Address</h4>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" ng-model="orderData.billing_address.addressLine1"
                                           class="form-control" required/>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" ng-model="orderData.billing_address.addressLine2"
                                           class="form-control" placeholder="(Optional)"/>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" ng-model="orderData.billing_address.addressLine3"
                                           class="form-control" placeholder="(Optional)"/>
                                </div>
                                <div class="col-md-12">
                                    <input type="text"
                                           class="form-control"
                                           name="city"
                                           ng-model="orderData.billing_address.city" required>
                                </div>
                                <div class="col-md-12">
                                    <input type="text"
                                           class="form-control"
                                           name="state"
                                           ng-model="orderData.billing_address.state" required>
                                </div>
                                <div class="col-md-12">
                                    <input type="text"
                                           class="form-control"
                                           name="country"
                                           ng-model="orderData.billing_address.country" required>
                                </div>
                                <div class="col-md-12">
                                    <input type="number" minlength="4" maxlength="8" ng-model="orderData.billing_address.pincode"
                                           class="form-control" required/>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkbox" style="margin-top: 0px">
                                        <input type="checkbox" id="checkbox1"
                                               ng-model="orderData.isShippingEqualBilling"
                                                ng-change="copyBillingAddress(orderData)">
                                        <label for="checkbox1">
                                            Is shipping address same as billing address?
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Shipping address-->
                    <div class="col-md-4 col-xs-12" ng-if="!orderData.isShippingEqualBilling">
                        <h4 style="color: #e50880;">Shipping Address</h4>
                        <div class="form-group">
                            <div class="row" style="margin-bottom: 10px">
                                <div class="col-md-12">
                                    <input ng-model="orderData.shipping_address.addressLine1"
                                           type="text"
                                           class="form-control" required/>
                                </div>
                                <div class="col-md-12">
                                    <input ng-model="orderData.shipping_address.addressLine2"
                                           type="text"
                                           class="form-control" placeholder="(Optional)"/>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" ng-model="orderData.shipping_address.addressLine3" placeholder="(Optional)"/>
                                </div>
                                <div class="col-md-12">
                                    <input type="text"
                                           class="form-control"
                                           name="city"
                                           ng-model="orderData.shipping_address.city" required>
                                </div>
                                <div class="col-md-12">
                                    <input type="text"
                                           class="form-control"
                                           name="state"
                                           ng-model="orderData.shipping_address.state" required>
                                </div>
                                <div class="col-md-12">
                                    <input type="text"
                                           class="form-control"
                                           name="country"
                                           ng-model="orderData.shipping_address.country" required>
                                </div>
                                <div class="col-md-12">
                                    <input type="number" minlength="4" maxlength="8" class="form-control"
                                           ng-model="orderData.shipping_address.pincode" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Address Details ends-->

            <!--Order Summary-->
            <div class="col-sm-12 col-xs-12 no-padding">
                <h4 style="padding: 10px 5px; background: #57C5A0; color: #ffffff;">3. ORDER SUMMARY</h4>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="col-md-12 col-xs-12 no-padding hidden-xs">
                    <div class="col-sm-12 col-xs-12 no-padding text-center">
                        <table class="table" style=margin-bottom:2px;>
                            <th class="col-sm-2 col-md-2 col-lg-2 col-sx-6" style="padding:4px;"></th>
                            <th class="col-sm-2 col-md-2 col-lg-2 col-sx-6 text-center" style="padding:4px;"><b>ITEM/STORE</b></th>
                            <th class="col-sm-2 col-md-2 col-lg-2 col-sx-6 text-center" style="padding:4px;"><b>QUANTITY</b></th>
                            <th class="col-sm-2 col-md-2 col-lg-2 col-sx-6 text-center" style="padding:4px;"><b>PRICE</b></th>
                            <th class="col-sm-2 col-md-2 col-lg-2 col-sx-6 text-center" style="padding:4px;"><b>DELIVERY DATE</b></th>
                            <th class="col-sm-2 col-md-2 col-lg-2 col-sx-6 text-center" style="padding:4px;"><b>SUB TOTAL</b></th>
                            <th class="col-sm-2 col-md-2 col-lg-2 col-sx-6 text-center" style="padding:4px;"><b>Remove</b></th>
                        </table>
                    </div>
                </div>
                

                <div class="col-md-12 col-xs-12 no-padding"  ng-repeat="shoppingCartStore in shoppingCartItems" ng-if="shoppingCartStore.storeId == storeId">
                    <div class="col-sm-12 col-xs-12 no-padding" id="no-more-tables">
                        <table class="table">
                            <tbody>
                            <tr ng-repeat="shoppingCartItem in shoppingCartStore.products" class="text-center" >
                                <td class="col-sm-2 col-md-2 col-lg-2 col-sx-6" data-title="">
                                    <a href="#store/products/{{shoppingCartItem.product_id}}">
                                        <img
                                            ng-src="{{imageUrl}}image/show/{{shoppingCartItem.image.image.large_image_url}}/175"
                                            class="img-responsive img-thumbnail"
                                            alt="{{shoppingCartItem.title}}"/>
                                    </a>
                                </td>

                                <td class="col-sm-2 col-md-2 col-lg-2" data-title="Product Name">
                                    <label>Store Title</label><br>
                                    <a style="text-decoration: none" href="#store/products/{{shoppingCartItem.product_id}}">
                                        <span style="font-weight: 600; color: #692668;">{{shoppingCartItem.title}}</span>
                                    </a>
                                    <p class="variants" ng-if="shoppingCartItem.variants.color">Color : 
                                    <a class="btn" style="width: 22px; height: 22px; margin-right: 5px"
                                       href="javascript:void(0)"
                                       ng-style="{backgroundColor: shoppingCartItem.variants.color}" >
                                    </a>
                                    </p>
                                    <p class="variants" ng-if="shoppingCartItem.variants.size">Size : {{shoppingCartItem.variants.size}}</p>
                                    <p class="variants" ng-if="shoppingCartItem.variants.volume">Volume : {{shoppingCartItem.variants.volume}}</p>
                                    <p class="variants" ng-if="shoppingCartItem.variants.weight">Weight : {{shoppingCartItem.variants.weight}}</p>
                                </td>

                                <td class="col-sm-2 col-md-2 col-lg-2 col-sx-6" data-title="Quantity">
                                    <div fs-counter value="shoppingCartItem.quantity"
                                         data-min="1"
                                         data-max="20"
                                         data-step="1"
                                         data-width="130px"
                                         data-editable="false"
                                         style="margin-top: 5px"></div>
                                </td>

                                <td class="col-sm-2 col-md-2 col-lg-2 col-sx-6" data-title="Price">{{shoppingCartItem.price}}</td>

                                <td class="col-sm-2 col-md-2 col-lg-2 col-sx-6" data-title="Delivery Date">5-10-2016</td>

                                <td class="col-sm-2 col-md-2 col-lg-2 col-sx-6" data-title="Sub Total">&#x20b9; {{+shoppingCartItem.quantity * +shoppingCartItem.price}}
                                </td>

                                <td class="col-sm-2 col-md-2 col-lg-2" data-title="Remove">
                                    <a ng-click="removeFromCart(shoppingCartItem.product_id, checkOutType)"><i class="fa fa-times-circle" style="font-size: 24px;color:#D41600;cursor: pointer;">&nbsp;&nbsp;&nbsp;</i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            
            <!--Order Summary ends-->

            <!--Grand total-->
            <div class="col-md-12 col-xs-12">
               <!--  <div class="col-md-4">
                    <a href="#store/browse"  ng-show="checkOutType" class="btn btn-primary btn-block" style="margin-top:10px;margin-bottom:10px;">CONTINUE SHOPPING</a>
                </div> -->
                <div class="col-md-4">
                    <a href="" class="btn btn-primary btn-block" ng-click="submitOrder()" style="margin-top:10px;margin-bottom:10px;">CONTINUE</a>
                </div>
                <div class="col-md-4 text-right pull-right" style="color: #e50880;">
                    <h4>Amount Payable : <b style="color:#57C5A0;">&#x20b9; {{total_price}}</b></h4>
                </div>
            </div>
            </div>
        </div>
            <!--Grand Total ends-->

            <!--Payment Method-->
            <div class="" ng-show="PaymentOptions">
                <div class="col-sm-12 col-xs-12 no-padding">
                    <h4 style="padding: 10px 5px; background: #57C5A0; color: #ffffff;">4. PAYMENT METHOD</h4>
                </div>

                <div class="col-md-12 col-xs-12 no-padding" style="margin-bottom: 10px;" ng-include='"partials/payment/allPayment.html"'>

                </div>
                
            </div>
</div>
</div>
