<div class="container">
    <span us-spinner="{radius:6, width:2, length: 2,color: '#e50880'}" spinner-key="spinner-1" spinner-start-active="true">

    </span>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-8 col-xs-9 bhoechie-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-2 bhoechie-tab-menu">
                <div ng-include src='"partials/admin/adminLeftMenu.html"'></div>
            </div>

   <div class="col-lg-10 col-md-10 col-sm-10 bhoechie-tab">
    <!-- flight section -->

    <div class="bhoechie-tab-content active">
        <center>
            <div class="table-responsive table-container" ng-cloak="" >
                <span ng-if="$data === null">
                    <div>
                      Log file >50M, please download it.
                    </div>
                </span>
                <table ng-table="logsAdminTableParams" template-pagination="custom/pager" class="table table-bordred table-striped" >

                    <tr ng-repeat="(key, value) in $data" class="text-center">
                        <td data-title="'Level'"   class="text-{{value.level_class}}"><span class="glyphicon glyphicon-{{value.level_img}}-sign" aria-hidden="true"></span> &nbsp;{{value.level}}</td>
                        <td data-title="'Date'"    class="date">{{value.date}}</td>
                        <td data-title="'Content'" class="text">
                            
                            <a class="pull-right expand btn btn-default btn-xs" ng-if="value.stack" data-display="stack{{key}}"><span class="glyphicon glyphicon-chevron-down"></span></a>
                            
                            {{value.text}}

                            <span ng-if="value.in_file">
                              <br />{{value.in_file}}
                            </span>
                            
                            <div class="stack" id="stack{{key}}" ng-if="value.stack" style="display: none; white-space: pre-wrap;">{{ value.stack }}</div>
                            
                        </td>
                    </tr>

                </table>
                <div ng-if="logs.length > 0">
                    <a href="{{publicpath}}admin/{{userId}}/logs?dl={{current_file}}" ><span class="glyphicon glyphicon-download-alt"></span> Download file</a>
                    -
                    <a href="{{publicpath}}admin/{{userId}}/logs?del={{current_file}}"  id="delete-log"><span class="glyphicon glyphicon-trash"></span> Delete file</a>
                </div>
            </div>
                <script type="text/ng-template" id="custom/pager">
                <ul class="pager ng-cloak">
                <li ng-repeat="page in pages"
                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                </li>
                <li>
                <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                </div>
                </li>
                </ul>

                </script>
            </div>
            
            </div>
        </center>
</div>
</div>
</div>
</div>
</div>



<script type="text/javascript">

     $(document).ready(function(){
        $('.table-container').on('click', '.expand', function(){
          $('#' + $(this).data('display')).toggle();
        });
        $('#delete-log').click(function(){
          return confirm('Are you sure?');
        });
      });

</script>











































